<a href="https://colab.research.google.com/github/cristina-ramos/class_P4T/blob/main/Assignments/Py4Text_HWK2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> The texts I've chosen for my corpus are all novels or short stories under the children's literature genre. They were obtained from Project Gutenberg's children's literature bookshelf: http://www.gutenberg.org/ebooks/bookshelf/20

The texts are:
> 1. Alice's Adventures in Wonderland by Lewis Carroll
2. Anne of Green Gables by Lucy Maud Montgomery
3. Black Beauty by Anna Sewell
4. Jack and Jill by Louisa May Alcott
5. The Jungle Book by Rudyard Kipling
6. The Wonderful Wizard of Oz by L. Frank Baum
7. Peter Pan by James M. Barrie
8. The Secret Garden by Frances Hodgson Burnett
9. Treasure Island by Robert Louis Stevenson
10. The Velveteen Rabbit by Margery Williams

In [ ]:
import nltk
from nltk.corpus import PlaintextCorpusReader
corpus_root = r"/content/sample_data/literature"
corpus = PlaintextCorpusReader(corpus_root, '.*txt')

In [ ]:
#Exploring the corpus now:
print(corpus.fileids())
total_words = len(corpus.words())
print("The total words in the children's literature corpus are:", total_words)

['alice.txt', 'anne.txt', 'blackbeauty.txt', 'jack&jill.txt', 'jungle.txt', 'oz.txt', 'peter.txt', 'secret_garden.txt', 'treasure.txt', 'velveteen.txt']
The total words in the children's literature corpus are: 742021

> How long is each text?

In [ ]:
alice_words = len(corpus.words(fileids='alice.txt'))
print("The total number of words in Alice's Adventures in Wonderland are:", alice_words)
anne_words = len(corpus.words(fileids='anne.txt'))
print("The total number of words in Anne of Green Gables are:", anne_words)
bb_words = len(corpus.words(fileids='blackbeauty.txt'))
print("The total number of words in Black Beauty are:", bb_words)
jj_words = len(corpus.words(fileids='jack&jill.txt'))
print("The total number of words in Jack and Jill are:", jj_words)
jungle_words = len(corpus.words(fileids='jungle.txt'))
print("The total number of words in The Jungle Book are:", jungle_words)
oz_words = len(corpus.words(fileids='oz.txt'))
print("The total number of words in The Wonderful Wizard of Oz are:", oz_words)
peter_words = len(corpus.words(fileids='peter.txt'))
print("The total number of words in Peter Pan are:", peter_words)
sg_words = len(corpus.words(fileids='secret_garden.txt'))
print("The total number of words in The Secret Garden are:", sg_words)
treasure_words = len(corpus.words(fileids='treasure.txt'))
print("The total number of words in Treasure Island are:", treasure_words)
rabbit_words = len(corpus.words(fileids='velveteen.txt'))
print("The total number of words in The Velveteen Rabbit are:", rabbit_words)

The total number of words in Alice's Adventures in Wonderland are: 39164
The total number of words in Anne of Green Gables are: 131023
The total number of words in Black Beauty are: 75083
The total number of words in Jack and Jill are: 116750
The total number of words in The Jungle Book are: 65942
The total number of words in The Wonderful Wizard of Oz are: 50339
The total number of words in Peter Pan are: 62476
The total number of words in The Secret Garden are: 103179
The total number of words in Treasure Island are: 89328
The total number of words in The Velveteen Rabbit are: 8737

> What is the average length of each text?

In [ ]:
nltk.download('punkt')
for fileid in corpus.fileids():
  num_words = len(corpus.words(fileid))
  num_chars = len(corpus.raw(fileid))
  print("Average word length is:", round(num_chars/num_words), "for", fileid)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Average word length is: 5 for alice.txt
Average word length is: 5 for anne.txt
Average word length is: 4 for blackbeauty.txt
Average word length is: 5 for jack&jill.txt
Average word length is: 5 for jungle.txt
Average word length is: 5 for oz.txt
Average word length is: 5 for peter.txt
Average word length is: 4 for secret_garden.txt
Average word length is: 4 for treasure.txt
Average word length is: 5 for velveteen.txt

> 20 most common words in the corpus?

In [ ]:
from nltk import FreqDist
corpus_vocab = corpus.words()
freq_corpus = FreqDist(corpus_vocab)
print("These are the 20 most common words in the corpus:", freq_corpus.most_common(20))

These are the 20 most common words in the corpus: [(',', 38005), ('the', 29009), ('.', 27924), ('and', 22261), ('to', 15694), ('a', 13349), ('I', 12214), ('of', 11904), ('“', 10238), ('was', 8595), ('in', 7960), ('’', 7757), ('it', 7310), ('he', 6791), ('that', 6443), ('you', 6195), ("'", 5627), ('as', 5211), ('she', 4997), ('with', 4877)]

> 20 most common bigrams in the corpus?

In [ ]:
from nltk import bigrams
list(nltk.bigrams(freq_corpus.most_common(20)))

[((',', 38005), ('the', 29009)),
 (('the', 29009), ('.', 27924)),
 (('.', 27924), ('and', 22261)),
 (('and', 22261), ('to', 15694)),
 (('to', 15694), ('a', 13349)),
 (('a', 13349), ('I', 12214)),
 (('I', 12214), ('of', 11904)),
 (('of', 11904), ('“', 10238)),
 (('“', 10238), ('was', 8595)),
 (('was', 8595), ('in', 7960)),
 (('in', 7960), ('’', 7757)),
 (('’', 7757), ('it', 7310)),
 (('it', 7310), ('he', 6791)),
 (('he', 6791), ('that', 6443)),
 (('that', 6443), ('you', 6195)),
 (('you', 6195), ("'", 5627)),
 (("'", 5627), ('as', 5211)),
 (('as', 5211), ('she', 4997)),
 (('she', 4997), ('with', 4877))]

>20 most common words and bigrams after removing stopwords and punctuation?

In [ ]:
from nltk.corpus import stopwords
import string
# nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
new_vocab = []
for word in corpus_vocab:
  if word not in stop_words and word not in string.punctuation:
    new_vocab.append(word)

print("Total length in orginal corpus:", len(corpus_vocab))
print("Total length in corpus with stopwords and punctuation removed:", len(new_vocab))
print("Number of stopwords removed is:", len(corpus_vocab) - len(new_vocab))

Total length in orginal corpus: 742021
Total length in corpus with stopwords and punctuation removed: 361084
Number of stopwords removed is: 380937

In [ ]:
new_freq = FreqDist(new_vocab)
print("These are the 20 most common words in the corpus with stopwords and punctuation removed:", new_freq.most_common(20))
#still some punctuation not included in my removal method but still a better result than before

These are the 20 most common words in the corpus with stopwords and punctuation removed: [('I', 12214), ('“', 10238), ('’', 7757), ('said', 4247), (',”', 3710), ('.”', 3251), ('one', 2091), ('The', 2074), ('would', 1747), ('little', 1679), ('--', 1667), ('like', 1632), ('could', 1531), ('It', 1530), ('?”', 1513), ('He', 1458), ('Anne', 1221), ('see', 1204), ('good', 1175), ('!”', 1158)]

In [ ]:
list(nltk.bigrams(new_freq.most_common(20)))

[(('I', 12214), ('“', 10238)),
 (('“', 10238), ('’', 7757)),
 (('’', 7757), ('said', 4247)),
 (('said', 4247), (',”', 3710)),
 ((',”', 3710), ('.”', 3251)),
 (('.”', 3251), ('one', 2091)),
 (('one', 2091), ('The', 2074)),
 (('The', 2074), ('would', 1747)),
 (('would', 1747), ('little', 1679)),
 (('little', 1679), ('--', 1667)),
 (('--', 1667), ('like', 1632)),
 (('like', 1632), ('could', 1531)),
 (('could', 1531), ('It', 1530)),
 (('It', 1530), ('?”', 1513)),
 (('?”', 1513), ('He', 1458)),
 (('He', 1458), ('Anne', 1221)),
 (('Anne', 1221), ('see', 1204)),
 (('see', 1204), ('good', 1175)),
 (('good', 1175), ('!”', 1158))]

>Writing these results to a new file:

In [ ]:
new_file = open('submit_file.txt', 'w')

new_file.writelines(["These are the 20 most common words in the corpus with stopwords and punctuation removed:", str(new_freq.most_common(20))])
new_file.writelines(["\n""These are the 20 most frequent bigrams in the corpus with stopwords and punctuation removed:", str(list(nltk.bigrams(new_freq.most_common(20))))])

new_file.close()